/*--General Setup and Fonts--*/
*{
  margin: 0;
  padding: 0;
}
a{
  text-decoration: none;
}
$white-color:#FFFFFF;

$black-color:#000000;


body{
  font: {
    family: 'Open Sans', sans-serif;
    size: 16px;
  }
}
select{
  background-color: $white-color;
}

.black-background{
  background-color: $black-color;
}

.white-font{
  color: $white-color;
}

.gray-font{
  color: #c2c2c2;
}
.center-margin{
  margin: auto;
}


/*--Flex Classes and Properties --*/
.flex{
  display:flex;
}

.justify-center{
  justify-content: center;
}
.align-center{
  align-items: center;
}
.space-between{
  justify-content: space-between;
}
.column{
  flex-direction: column;
}
.flex-wrap{
  flex-wrap: wrap;
}
/*-- Start styling header --*/
header{
  height: 20rem;
  padding: 25% 0% 5% 0%;
  transition: padding 300ms;
}
.form-container{
  margin: auto;
}
h5{
  text-align: center;
  width: 100%;
}
.stories{
  transition: display 500ms;
  div p{
    transition: opacity 500ms;
    transition-timing-function: ease-in;
    opacity: 0;
  }
  div p:hover{
    opacity: 1;
  }
}

.hidden{
  display: none;
}
.overlay{
  background-color: $black-color;
  //position: fixed;
  z-index: 1;
  height: 600px;
  width: 100%;
  transition: display, height;
  display: none;
    img{
      max-width: 50%;
    }
}

.overlay-image-container{
  padding-top: 5rem;
  margin:auto;
}
.appear{
  display: block;
}

/*--Start Styling Footer --*/
footer{
  padding-top: 8%;
  p{
    text-align: center;
  }
}
.full-width{
  width: 100%;
  height: 350px;
}

.header-active{
  height: 10rem;
  padding: 0% 0% 2% 0%;
}
.logo-active{
  height: 120px;
  transition: height 300ms;
}
.image-container{
  padding-top: 10%
}

@media screen and (max-width: 600px){
  .form-container{
    width: 100%;
  }
  .logo-active{
    height: 165px;
    transition: height 300ms;
    padding-bottom: 0;
  }

  .header-active{
    height: 250px;
  }
  .form-active{
    margin: 0 0;
  }


}
@media screen and (min-width: 600px){

    header{
      padding: 20% 0% 5% 0%;
      flex-wrap: wrap;
    }

    .form-container{
      margin: auto 25% auto 0%;
    }
    .third-width{
      width: 33.33%;
      height: 350px;
    }
    .max-image-size-tab{
      max-width: 300px;
      max-height: 300px;
    }

}

@media screen and (min-width: 1240px){
    header{
      padding-top: 10%;
    }
    .form-container{
      margin: auto 50% auto 0%;
    }
    .max-image-size-desk{
      max-width: 100%;
    }
    .quarter-width{
      width: 25%;
      height: 350px;
    }
    footer p{
      text-align: left;
      padding-left: 10%;
      margin-bottom: 5%;
    }
}
